<div class="bg-slate-900 text-slate-300 p-4 pt-7 mt-3" style="min-heigh: 100vh;">
  <div class="flex justify-between items-center mb-2 text-sm font-medium">
    <div>
      <h1>Dashboard</h1>
    </div>
    <div class="flex">
    </div>
  </div>
  <div class="md:flex gap-x-10 bg-slate-800 px-2 py-2 ring-1 ring-slate-900/5 shadow-xl">
  </div>
  <div class="md:flex gap-x-10 bg-slate-800 px-2 py-2 ring-1 ring-slate-900/5 shadow-xl">
  </div>
</div>
