<div class="flex justify-center mt-24">
  <div class="max-w-2xl">
    <div>
      <ul class="bg-white text-gray-900">
        <% @microposts.each do |micropost| %>
          <li class="px-6 py-2 border-b border-gray-200 w-full">
            <div class="flex justify-between items-center my-2">
              <div class="flex items-center my-2">
                <h5 class="text-gray-900 text-lg leading-tight font-medium">
                  <%= link_to micropost.account.full_name, feed_dashboard_account_path(micropost.account_id) %>
                </h5>
                <span class="text-xs text-gray-600">&nbsp; . <%= time_ago_in_words(micropost.created_at) %></span>
              </div>
              <div>
                <% if micropost.account_id == current_account.id %>
                  <%= button_to "#{ I18n.t('dashboard.microposts.delete') }", dashboard_micropost_path(micropost),
                                method: :delete, data: { confirm: "#{ I18n.t('dashboard.microposts.confirm_delete') }" },
                                class: "text-red-700" %>
                <% end %>
              </div>
            </div>
            <p class="text-gray-700 text-base mb-4"><%= micropost.content %></p>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>