<div class="flex flex-col justify-center">
  <ul class="mx-auto bg-white w-96 text-gray-900">
    <% @accounts.each do |account| %>
      <li class="px-6 py-2 border-b border-gray-200 w-full">
        <%= link_to account.full_name_or_email, dashboard_account_path(account), class: "hover:text-orange-800" %>
      </li>
    <% end %>
  </ul>
  <div class="mx-auto mt-20 opacity-70">
    <%== pagy_nav(@pagy) %>
  </div>
</div>
