<div class="min-h-screen h-screen flex justify-center">
  <div class="hero flex justify-items-center justify-center items-center content-center">
    <%= link_to dashboard_root_path do %>
      <%= image_tag("casa_laterite_logo.svg", alt: "Casa Laterite logo", width: "570",
                    class: "flex items-center p-2") %>
    <% end %>
  </div>
</div>
