<div>
  <h1 class="mt-5 text-white">Add new event</h1>
  <div class="md:flex justify-between items-center mt-2 p-3 dark:bg-slate-900">
    <%= render partial: "form", locals: { object: Event.new } %>
  </div>
</div>