<% if @resource.locale == "fr" %>
  <p>Bonjour, <%= @resource.email %>!</p>

  <p>Vous pouvez confirmer l'adresse e-mail de votre compte via le lien ci-dessous :</p>

  <p><%= link_to 'Confirmer mon compte', confirmation_url(@resource, confirmation_token: @token) %></p>

  <p>L'équipe Laterite.</p>
<% else %>
  <p>Welcome <%= @email %>!</p>

  <p>You can confirm your account email through the link below:</p>

  <p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

  <p>Laterite Team.</p>
<% end %>
