<div class="card secondary-bg mt-4">
  <div class="card-header">
    <h5 class="card-title">Create new <%= controller_name.singularize %></h5>
  </div>
  <div class="card-body">
    <%= render "form" %>
  </div>
</div>
