<div class="bg-slate-900 text-white p-8 pt-7 mt-3">
  <div>
    <% @campaign.questions.each do |question| %>
      <%= render partial: "admin/campaigns/question", locals: { question: question } %>
    <% end %>
  </div>
  <p class="text-center mt-5 hover:text-orange-800">
    <%= link_to "Edit this campaign", edit_admin_campaign_path(@campaign), class: "text-decoration-none" %>
  </p>
