<div class="bg-slate-900 p-2">
  <%= simple_form_for [:admin, @property_type], html: { class: "" }, local: true do |f| %>

    <%= render "admin/shared/form_errors", object: @property_type %>

    <div class="flex mt-3">
      <%= f.input :name, label: false, placeholder: "Property type name",
                  wrapper_html: { class: "mr-3" },
                  error_html: { class: "error-message" },
                  input_html: { class: "basic-field" } %>
    </div>

    <%= f.button :submit, class: "submit-btn bg-orange-900" %>
  <% end %>
</div>
